@font-face {
	font-family: GothamBold;
	src: url("../fonts/Gotham/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
	font-family: GothamMedium;
	src: url("../fonts/Gotham/GothamHTF-Medium.otf") format("opentype");
}
@font-face {
	font-family: GothamThin;
	src: url("../fonts/Gotham/GothamHTF-Thin.otf") format("opentype");
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


div.nav-link a {
	text-decoration: none;
	color: black;
}

div.nav-link a:hover{
	opacity: 0.7;
}