body {
	font-family: GothamThin, Helvetica, Verdana, Sans-Serif;
	font-size: 100px;
	background-color: #fff;
}

div.navbar{
	background-color: #fff;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 100px;
	border-radius: 0px;
	opacity:0.95;

	font-size: 50px;
	line-height: 100px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.navbar-right{
	width:50%;
	float:right;
	font-size: 30px;
}

div.nav-link{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

div.content{
	margin-top: 100px;
	text-align: center;
}

div.welcome-slide{
	height: 500px;	
	background-color: #19D175;
}

div.about-slide{
	height: 600px;
	background-color: #bbb;
}

div.students-slide{
	height: 500px;	
	background-color: #ccc;
}

div.mentors-slide{
	height: 500px;	
	background-color: #ddd;
}

div.footer{
	position: absolute;
	margin-top: 1500px;
	top: 100%;
	left: 0;
	right: 0;
	height: 300px;
	background-color: #fff;
}